.dub
docs.json
__dummy.html
docs/
/djunctor
djunctor.so
djunctor.dylib
djunctor.dll
djunctor.a
djunctor.lib
djunctor-test-*
/testgen
testgen.so
testgen.dylib
testgen.dll
testgen.a
testgen.lib
testgen-test-*
*.exe
*.o
*.obj
*.lst
*.log
*.fasta
*.py
*~
*.tar
*.tar.gz
.gdbinit
